body{
    text-align: center;
    background-color:#05030f;
    /* background-image: linear-gradient(to right, rgba(67, 3, 96, 0.5), #A59bb0, rgba(67, 3, 96, 0.5)  ); */
    font-family: 'Bruno Ace', cursive ,sans-serif;
    color: #ede7f9;
    position: relative;
}
hr{
    height: 2px;
        background-color:rgb(112, 108, 112);
        border: none;
        width: 400px;
}

.box{
    width: 400px;
    height: 400px;
    background-color: #322b40;
    border: 7px solid #322b40;
    margin: 0 auto;
    border-radius: 8%;
    display: flex;
    flex-wrap: wrap;

}

.element{
    height: 88px;
    width: 88px;
    border: 6px solid #322b40;
    background-color: #c1acbc;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    transition: width .5s, height .5s;
}

.Title{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.music{position: absolute;
}

.new-game {
    padding: 10px;
    font-size: 20px;
    background-color: #322b40;
    color: #c1acbc;
    border: none;
    border-radius: 5%;
}

.new-game:hover{
    background-color: #ecdcf9;
    color: #533680 ; 
    transition-duration: .5s;
}

.score{
    background-color:rgba(93, 73, 103, 0.873);
    padding:9px;
    text-align: left;
    color: #eee8f6;
    border-radius: 5%;
    font-size: 15px;
    font-family: 'Bruno Ace', cursive, sans-serif
}
.score-num{
    color:#aa88f1;
    font-size:20px ;
}

.e2{
    background-color: #c1acbc;
    color: #322b40;
}

.e4{
    background-color: #ab9ea8;
    color: #322b40;

}

.e8{
    background-color: #8e7e8b;
    color: #d2cedb; 
}

.e16{
    background-color: #8d7cb0;
    color: #d2cedb; 
}

.e32{
    /* background-color: #5e5bb6; */
    background-color: #775cad;

    color: #d2cedb; 
}

.e64{
    background-color: #5a389f;
    color: #d2cedb; 
}

.e128{
    background-color: #91658f;
    color: #d2cedb; 
}

.e256{
    background-color: #8c5389;
    color: #d2cedb; 
    
}

.e512{
    background-color: #7c608b;
    color: #d2cedb; 
}

.e1024{
    background-color: #7d52a3;
    color: #d2cedb; 
    font-size: 30px;
}

.e2048{
    background-color: #8f5abe;
    color: #d2cedb; 
    font-size: 25px;
    font-weight: bold;
   
}

.smooth{
  width: 30px;
  height: 30px;
}

.unsmooth{
    transition-delay: 1s;
    width: 88px;
    height: 88px;
  }

  .win-box{
    background-color:rgb(164, 204, 237);
    width: 280px;
    height: 80px;
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    transition-timing-function: ease-in-out;
    color: #05030f;
  }

  .lose-box{
    background-color:rgb(216, 97, 210);
    width: 280px;
    height: 120px;
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    transition-timing-function: ease-in-out;
  }


  .btn{
     margin: 10px;
        padding: 5px;
        font-size: 15px;
        /* background-color: #322b40; */
        /* color: #c1acbc; */
        border: none;
        border-radius: 5%;
        width: 100px;
    
  }

  .none{
    transition-duration: 1s;
    display: none;

  }



  .keybourdd{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin: 10px auto;

  }

  .keybourdd button{
    background-color: #8d7cb0;
    padding: 5px 15px;
    font-size: large;
    border: none;
    border-radius: 50%;
    color: #05030f;
  }


  .btn:hover {
    background-color: #322b40;
    color: #ab9ea8;
  }